* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  /* outline: 2px solid blue !important; */
}
.slick-prev {
  left: 3% !important;
  z-index: 1;
  /* color: black !important; */
  background-color: rgba(0, 0, 0, 0.306) !important;
  border-radius: 50%;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.297) !important;
  border-radius: 50%;
}

.mega-menu h2 {
  color: rgb(95, 108, 108) !important;
  /* border-bottom: 2px solid; */
  text-transform: uppercase;
  font-weight: 500;
}
.mega-menu h2:hover {
  color: rgb(0, 0, 0) !important;
  /* border-bottom: 2px solid; */
}
.slick-slide {
  background-color: white !important;
}
.slick-slide img {
  /* padding:0 2rem; */
  height: 160px;
  background-color: white;
  /* width: 140px; */
}
@media screen and (min-width: 700px) {
  .slick-slide img {
    height: auto;
  }
}
