* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  /* outline: 2px solid blue !important; */
}
.slick-prev {
  left: 3% !important;
  z-index: 1;
  color: black !important;
  background-color: black !important;
  border-radius: 50%;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
  background-color: black !important;
  border-radius: 50%;
}
.strict {
  /* width: 90vw !important; */
  /* overflow: hidden; */
}
